<template>
  <v-card
    outlined
    tile
  >
    <v-card-text class="d-flex">
      <v-tooltip bottom>
        <template v-slot:activator="{on}">
          <v-avatar
            size="35"
            class="mr-3"
            v-on="on"
          >
            <img :src="comment.user.avatar">
          </v-avatar>
        </template>
        <span>{{ comment.user.name }}</span>
      </v-tooltip>
      <div class="comment">
        {{ comment.text }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Comment',
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.comment {
  flex: 1 1;
}
</style>
