<template>
  <v-card class="message">
    <v-card-text class="d-flex">
      <v-tooltip bottom>
        <template v-slot:activator="{on}">
          <v-avatar
            size="70"
            class="mr-3"
            v-on="on"
          >
            <img :src="message.user.avatar">
          </v-avatar>
        </template>
        <span>{{ message.user.name }}</span>
      </v-tooltip>
      <div
        v-preview="message.text"
        class="message__content"
      />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Message',
  directives: {
    preview: {
      inserted(el, { value }) {
        const regexp = /(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|svg|gif|png)/g;
        el.innerHTML = value.replace(regexp, (match) => `<img src=${match} class="message__img"/>`);
      },
    },
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.message {
  margin: 10px 0;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    white-space: pre-wrap;
  }

  &__img {
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 4px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
</style>
