<template>
  <v-row>
    <v-col cols="7">
      <v-row>
        <v-col cols="12">
          <v-textarea
            v-model.trim="newMessage"
            label="О чем вы думаете"
            rows="3"
            hide-details
            outlined
          />
        </v-col>
        <v-col
          cols="4"
          offset="8"
        >
          <v-btn
            :disabled="newMessage === ''"
            :ripple="false"
            block
            @click="share"
          >
            Поделиться
          </v-btn>
        </v-col>
        <v-col
          v-for="message in messages"
          :key="message.id"
          cols="12"
        >
          <message :message="message" />
          <comment
            v-for="comment in message.comments.slice(0, 3)"
            :key="comment.id"
            :comment="comment"
          />
        </v-col>
      </v-row>
    </v-col>
    <v-col
      cols="4"
      offset="1"
    >
      <v-row>
        <v-col>
          <most-popular :messages="mostPopular" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';
import Message from './Message.vue';
import Comment from './Comment.vue';
import MostPopular from './MostPopular.vue';

export default {
  name: 'NewsFeed',
  components: {
    Message,
    Comment,
    MostPopular,
  },
  data: () => ({
    user: {
      name: 'Вы',
      avatar: 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png',
    },
    newMessage: '',
    messages: JSON.parse(localStorage.getItem('messages')) || [],
    commentIntervalMin: 5,
    commentIntervalMax: 30,
  }),
  computed: {
    mostPopular() {
      return this.messages
        .slice()
        .sort((a, b) => b.comments.length - a.comments.length)
        .slice(0, 3);
    },
  },
  methods: {
    getRandomInteger(min, max) {
      return Math.floor(min + Math.random() * (max + 1 - min));
    },
    async getRandomUser() {
      const url = 'https://randomuser.me/api/?inc=name,picture&noinfo';
      const { data: { results: [user] } } = await axios.get(url);
      const randomUser = {
        name: user.name.first,
        avatar: user.picture.thumbnail,
      };
      return randomUser;
    },
    async getRandomText() {
      const url = `https://baconipsum.com/api/?type=all-meat&sentences=2&ie10-no-cache=${Date.now()}`;
      const { data: [randomText] } = await axios.get(url);
      return randomText;
    },
    generateComments(messageId) {
      const intervalTime = this.getRandomInteger(this.commentIntervalMin, this.commentIntervalMax);
      setTimeout(async () => {
        this.generateComments(messageId);
        const [randomUser, randomText] = await Promise.all([
          this.getRandomUser(),
          this.getRandomText(),
        ]);

        const comment = {
          id: performance.now(),
          user: randomUser,
          text: randomText,
        };

        this.messages.find((it) => it.id === messageId).comments.unshift(comment);
        localStorage.setItem('messages', JSON.stringify(this.messages));
      }, intervalTime * 1000);
    },
    share() {
      const message = {
        id: performance.now(),
        text: this.newMessage,
        user: this.user,
        date: new Date(),
        comments: [],
      };

      this.messages.unshift(message);
      this.generateComments(message.id);
      this.newMessage = '';

      localStorage.setItem('messages', JSON.stringify(this.messages));
    },
  },
};
</script>
