<template>
  <v-app>
    <v-app-bar app>
      <v-switch
        v-model="$vuetify.theme.dark"
        class="ml-auto"
        hide-details
        inset
        label="Темная тема"
      />
    </v-app-bar>
    <v-main>
      <v-container>
        <news-feed />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import NewsFeed from './components/NewsFeed.vue';

export default {
  name: 'App',
  components: {
    NewsFeed,
  },
};
</script>

<style lang="scss">
.container {
  max-width: 1000px;
}
</style>
